* {
  font: 24px courier;
  color: #eee;
}

kbd {
  font: 12px sans-serif;
  color: #fff;
  background-color: #444;
  border: #eee solid 1px;
  border-radius: 2px;
  padding: 2px;
  margin: 1px;
}

body {
  background-color: #000;
}

input,
textarea {
  background-color: #000;
}

input,
textarea,
button,
select,
option {
  border: none;
  outline: none;
}

button,
select,
option {
  color: #000;
  background-color: #eee;
}

.noscrollbar {
  -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar {
  display: none;
}

.onhoverbcgto333 {
  transition: all 0.5s 0s ease;
}
.onhoverbcgto333:hover {
  background-color: #333;
}

.caret {
  /* background-color: #eee; */
  backdrop-filter: invert(87.5%);
  animation: caretblink 1000ms steps(2, jump-none) infinite;
}

@keyframes caretblink {
  100% {
    backdrop-filter: invert(0%);
  }
}
/* 
* {
  border: red 1px solid;
} */
